
@{
    ViewBag.Title = "Classification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col col-sm-12">
        <div class="jumbotron text-center">
            <h1 class="display-4">Класифікація - це</h1>
            <p>розподілення об'єктів вибірки, до заздалегіть визначених класів на основі їх незалежних змінних</p>
        </div>

        </div>
    <div class="col">
        
    </div>
</div>

